fastapi
uvicorn
python-multipart
requests
firebase-admin
pandas
numpy
torch
stable_baselines3
alpaca_trade_api
finrl
stockstats
yfinance
exchange_calendars
pandas_market_calendars
lxml
swig
wrds
gymnasium
git+https://github.com/AI4Finance-Foundation/FinRL.git
